.parent{
    position: relative;
}

.CartShop{
    position: absolute;
    background-color: blue;
    border-radius: 10px;
    top: 0;
    right: 0;
    margin-top: 10px;
}

.CartShop:hover{
    background-color: black;
}